package templates

templ header() {
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">BOM Manager</a>
				<div>
					<a href="/materials" class="btn btn-outline-light btn-sm">Materials</a>
					<a href="/products" class="btn btn-outline-light btn-sm ms-2">Products</a>
				</div>
			</div>
		</nav>
}
