# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.1'

      # Go Toolchain Checks
      - name: Fmt
        run: go fmt ./...
      - name: Vet
        run: go vet ./...
      - name: Test
        uses: robherley/go-test-action@v0

      - name: Setup sqlc
        uses: sqlc-dev/setup-sqlc@v3
        with:
          sqlc-version: '1.25.0'

      - name: sqlc generate
        run: sqlc generate -f ./internal/db/sqlc.yaml

      - name: sqlc compile
        run: sqlc compile -f ./internal/db/sqlc.yaml

      - name: sqlc diff
        run: sqlc diff -f ./internal/db/sqlc.yaml

      # Templ Generation
      - name: Generate templ code
        uses: capthiron/templ-generator-action@v1
